.address-list {
    font-style: normal;
    line-height: 1.71;
    text-align: center;

    @media screen and (min-width:1200px) {
            text-align: start;
        }


&__item:not(:last-child) {
    margin-bottom: 9px;
}

&__link-map {
    color: var(--white-text-color);
    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

&__link-map:hover,
&__link-map:focus {
    color: var(--accent-color);
    background: var(--dark-fon);
}


&__link {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

&__link:hover,
&__link:focus {
    color: var(--accent-color);
    background: var(--dark-fon);
}
}