.contacts {
    display: none;

    @media screen and (min-width:768px) {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        padding: 21px 0;
        gap: 10px;
        }
    
    @media screen and (min-width:1200px) {
        flex-direction: row;
        padding: 0;
        gap: 50px;
        }

&__link {
    display: flex;
    align-items: center;
    gap: 10px;
    

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--item-text-color);

    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width:1200px) {
          padding-top: 32px;
          padding-bottom: 32px;  
        }
}

&__link:hover,
&__link:focus {
    color: var(--accent-color);
    background: var(--primary-white-fon);
    box-shadow: none;
}

&__logo {
    fill: var(--item-text-color);

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

&__link:hover &__logo,
&__link:focus &__logo {
    fill: var(--accent-color);
}
}