.filter-list {
    max-width: 326px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: start;

    @media screen and (min-width:768px) {
            max-width: 100%;
            justify-content: center;
            gap: 10px;
        }


/*&__block:not(:last-child) {
    margin-right: 10px;
}*/

&__btn {
    padding: 6px 22px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;

    background: var(--grey-fon);
    border-radius: 4px;
    border: none;
    
    cursor: pointer;

    transition-property: color border background;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

&__btn:hover,
&__btn:focus {
    color: var(--white-text-color);
    
    background: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
}