.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background: var(--dark-fon);



&__container {
    @media screen and (min-width:480px) {
            display: flex;
            flex-direction: column;
        }

    @media screen and (min-width:768px) {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: baseline;
            padding: 0;
            
        }
    }
   
    


&__block {
    @media screen and (min-width:480px) {
            display: flex;
            align-items: center;
            flex-direction: column;
            align-items: center;
            justify-content: center;

    }

    @media screen and (min-width:1200px) {
        align-items: flex-start;
    }

}

&__block:not(:last-child) {
    margin-bottom: 60px;
    @media screen and (min-width:1200px) {
        margin-bottom: 0;
        }
}

&__block:nth-child(1) {
    @media screen and (min-width:768px) {
            margin-left: 76px;
            margin-right: 165px;
        }

    @media screen and (min-width:1200px) {
        margin-left: 0;
        margin-right: 70px;
    }
}

&__block:nth-child(3) {
    @media screen and (min-width:768px) {
        margin-left: 166px;
         }

    @media screen and (min-width:1200px) {
        margin-left: auto;
    }
}


&__item {
    display: block;
    margin-bottom: 20px;

    color: var(--white-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
}