.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;

    padding: 48px 40px;


    background-color: white;

    overflow-y: scroll;

    transform: translateX(200%);

    z-index: 10;

    
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    
    
     &.is-open {
        transform: translateX(0);
    }

        @media screen and (min-width: 768px) {
            display: none;
        }
}

.menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;

    width: 40px;
    height: 40px;

    background-color: transparent;
    border: none;

    cursor: pointer;

    @media screen and (min-width:768px) {
            display: none;
        }
}

.toggle-btn {
    position: absolute;
    top: 20px;
    right: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    border: none;
    
    cursor: pointer;

    &__icon {
            fill: var(--black-text-color);
    
            transition-property: fill;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
    
    &:focus &__icon,
    &:hover &__icon {
            fill: var(--accent-color);
        }
}

.menu-nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 32px;

    &__link {
            color: var(--primary-text-color);
    
            font-weight: 500;
            font-size: 40px;
            line-height: 1.17;
            letter-spacing: 0.02em;
    
            text-decoration: none;
    
            transition-property: color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }

        &__item {
             display: flex;
        }
    
    
        &__link:hover,
        &__link:focus {
            color: var(--accent-color);
            box-shadow: none;
        }
    
}

.menu-contact {
    width: 100%;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    gap: 32px;
    
    
    &__tel {
        display: block;
        font-weight: 500;
        font-size: 34px;
        line-height: 1.18;
        letter-spacing: 0.02em;
        text-decoration: none;

    
        color: var(--accent-color);
    }

    &__mail {
        font-weight: 500;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        text-decoration: none;
        
        color: var(--item-text-color);
    }
}

.menu-socials {
    width: 100%;
    align-self: flex-end;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;


    &__link {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        
        letter-spacing: 0.02em;
        text-decoration: none;
        
        color: var(--accent-color);
    }

    &__link--end::after {
        content: "";
        position: relative;
        left: 10px;
        width: 22px;
        height: 0;

        border: 1px solid rgba(33, 33, 33, 0.2);
        transform: rotate(90deg);
    }
}
