.navigation {
    display: none;

    @media screen and (min-width:768px) {
        display: flex;
            align-items: center;
    }

    @media screen and (min-width:1200px) {
        display: flex;
            align-items: center;
    }

&__list {
    display: flex;
    margin-left: 93px;
}


&__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primary-text-color);

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    text-decoration: none;

    transition-property: color ;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


&__item:not(:last-child) {
    margin-right: 50px;
}


&__link:hover,
&__link:focus {
    color: var(--accent-color);
    box-shadow: none;
}
/*background: var(--primary-white-fon);*/

&__link--current {
    color: var(--accent-color); 
}

&__link--current::after {
    display: flex;
    content: "";
    position: relative;
    top: 33px;
    height: 4px;
    border-radius: 2px;
    background: var(--accent-color);
}
}