.feature-list {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media screen and (min-width:768px) {
            flex-direction: row;
            flex-wrap: wrap;
    }

    &__block {

        @media screen and (min-width:768px) {
                width: 354px;
            }

        @media screen and (min-width:1200px) {
                width: 270px;
            }
    }
    
   


&__img {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;

    
    height: 120px;
    
    background-color: var(--grey-fon);
    border-radius: 4px;

    @media screen and (min-width:480px) {
            width: 450px;
        }

    @media screen and (min-width:768px) {
        width: 354px; 
}

    @media screen and (min-width:1200px) {
        width: 270px; 
}
}

&__title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;

    @media screen and (min-width:768px) {
        text-align: left; 
    }
}


&__item {
    line-height: 1.71;
    color: var(--item-text-color);
}

&__icon {
    background: var(--grey-fon);
}
}