:root {
    --primary-white-fon: #FFFFFF;
    --white-text-color: #FFFFFF;
    --black-text-color: #000000;
    --primary-text-color: #212121;
    --accent-color: #2196F3;
    --item-text-color: #757575;
    --dark-fon: #2F303A;
    --grey-fon: #F5F4FA;
    --light-fon: #EEEEEE;
    --logo-fill: #AFB1B8;
}